---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
import Bio from "../components/Bio.astro";
import Header from "../components/Header.astro";

// Use Astro.glob() to fetch all posts, and then sort them by date.
const posts = (await Astro.glob("./*/*.{md,mdx}")).sort(
	(a, b) =>
		new Date(b.frontmatter.pubDate).valueOf() -
		new Date(a.frontmatter.pubDate).valueOf()
);

export const formatDate = (dateString) => {
	if (!dateString) {
		return "";
	}
	const options = { year: "numeric", month: "long", day: "2-digit" };
	const date = new Date(dateString);
	try {
		return date.toLocaleDateString("default", options);
	} catch (err) {
		// handle IE 11
		return date.toLocaleDateString();
	}
};
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<Bio />
		<main>
			<div class="centered-content">
				{
					posts.map((post) => (
						// <li>
						// 	<time datetime={post.frontmatter.date}>
						// 		{new Date(
						// 			post.frontmatter.date
						// 		).toLocaleDateString("en-us", {
						// 			year: "numeric",
						// 			month: "short",
						// 			day: "numeric",
						// 		})}
						// 	</time>
						// 	<a href={post.url}>{post.frontmatter.title}</a>
						// </li>
						<article>
							<header>
								<h2>
									<a href={post.url}>
										{post.frontmatter.title}
									</a>
								</h2>
								<time datetime={post.frontmatter.pubDate}>
									{formatDate(post.frontmatter.pubDate)} •{" "}
									{post.frontmatter.minutesRead}
									{post.frontmatter.keywords ? (
										<>
											{" "}
											•{" "}
											<em>
												{" "}
												{post.frontmatter.keywords.join(
													", "
												)}
											</em>
										</>
									) : (
										""
									)}
								</time>
							</header>
							<section>
								<p>{post.frontmatter.excerpt}&#8230;</p>
							</section>
						</article>
					))
				}
			</div>
		</main>
		<Footer />
	</body>
</html>
